.about-main .about{
    margin-top: 20px;
  }
  
  .about-main img {
    width: 17%;
  }
  
  .about-main .about div{
    margin-bottom: -10px;
    font-size: 16px;
  }
  

  @media screen and (max-width: 768px) {
    .about-main{
        flex-wrap: wrap;
        justify-content: center;

        img{
            width: 25%;
        }

        .about{
            margin-left: 40px;
            margin-right: 40px;
            text-align: center;
        }
    }
  }