@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F2F2F2 !important;
}

a{
  text-decoration: none !important;
  color: #878383 !important;
  padding-bottom: 20px;
}

p{
  font-family: 'Neucha',sans-serif;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow : hidden;
  line-height: 1.5;
}

.categories a{
  cursor: pointer;
}

.card-image img{
  transition: .3s ease-in-out;
  cursor: pointer;
}

.card-image img:hover{
  opacity: 0.8;
}

.tags a {
  cursor: pointer;
  padding-bottom: 0;
}

.navbar{
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.form-editor{
  width: 100% !important;
  margin: 0 auto !important;
  padding-left: 23px !important;
}

.tox.tox-tinymce{
  margin: 0 auto !important;
  margin-top: 20px !important;
}